<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-lg" for="company">{{ label }}</label>
    <div class="col-sm-10">
        {% if paragraph %}
            <div class="border border-1 p-2 rounded" id="{{ label }}">
                {{ value | linebreaks }}
            </div>
        {% else %}
            <output class="form-control form-control-lg" id="{{ label }}">
                {% if href %}
                    <a href="{{ href }}">
                        {{ value }}
                    </a>
                {% elif protocol %}
                    <a href="{{ protocol }}:{{ value }}">
                        {{ value }}
                    </a>
                {% else %}
                    {{ value }}
                {% endif %}
            </output>
        {% endif %}
    </div>
</div>