{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>{% block h2 %}Contacts{% endblock h2 %}</h2>
        </div>
        <div class="">
            {% block pageactions %}
                <a href="{% url 'contacts:person_create' %}" class="btn btn-success">New Contact</a>
            {% endblock pageactions %}
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        {% block thead %}{% endblock thead %}
        </thead>
        <tbody>
        {% block tbody %}
        {% endblock tbody %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        function setRowsClickable() {
            $('.table  tbody  tr')
                .click(event => window.location.href = $(event.target)
                    .closest('tr')
                    .data('href'));
        }
    </script>
{% endblock %}
{% block onload %}
    setRowsClickable();
{% endblock %}