{% extends 'detail.html' %}
{% block title %} {{ person }} | {{ block.super }}{% endblock %}
{% block h2 %}
    {{ person.name }}
{% endblock h2 %}
{% block pageactions %}
    <a href="{% url 'contacts:person_update' person.pk %}" class="btn btn-primary">Edit Details</a>
{% endblock pageactions %}
{% block topsection %}
    {% include 'detail_datum.inc.html' with label='Company' value=person.company href=person.company.get_absolute_url %}

    {% if person.phone_number %}
        {% include 'detail_datum.inc.html' with label='Phone Number' value=person.phone_number protocol='tel' %}
    {% endif %}

    {% if person.email_address %}
        {% include 'detail_datum.inc.html' with label='Email Address' value=person.email_address protocol='mailto' %}
    {% endif %}

    {% if person.linked_in_profile %}
        {% include 'detail_datum.inc.html' with label="LinkedIn Profile" value=person.linked_in_profile href=person.linked_in_profile %}
    {% endif %}
{% endblock topsection %}
{% block bottomsection %}
    <h3>Interactions</h3>
    <p><small>{{ person.interaction_set.all | length }} interaction{{ person.interaction_set.all | length | pluralize }}
        so far</small></p>
    {# TODO: href new interaction #}
    {% if person.last_interaction.follow_up_at %}
        {% include 'detail_datum.inc.html' with label="Next Follow-Up" value=person.last_interaction.follow_up_at href='#' %}
    {% else %}
        {% include 'detail_datum.inc.html' with label="Next Follow-Up" value='Start an Interaction' href='#' %}
    {% endif %}
{% endblock %}