{% extends 'list.html' %}
{% block title %}
    Contact Listing | {{ block.super }}
{% endblock title %}
{% block h2 %}
    Contacts
{% endblock h2 %}
{% block pageactions %}
    <a href="{% url 'contacts:person_create' %}" class="btn btn-success">New Contact</a>
{% endblock pageactions %}
{% block thead %}
    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Interactions</th>
        <th>Last Interaction</th>
        <th>Next Follow-Up</th>
    </tr>
{% endblock thead %}
{% block tbody %}
    {% for person in person_list %}
        <tr class="cursor" data-href="{% url 'contacts:person_detail' person.pk %}">
            <td>{{ person.name }}</td>
            <td>{{ person.company }}</td>
            <td>{{ person.interaction_set.all | length }}</td>
            <td>{{ person.last_interaction.created_at }}</td>
            <td>{{ person.last_interaction.follow_up_at }}</td>
        <tr/>
    {% endfor %}
{% endblock tbody %}
